$u-default-border-radius: 1rem;

$size-seperate-section: 20rem;
$size-seperate-section-mobile: 12rem;
$size-seperate-section-mobile-2: 8rem;

$color-top-page: rgb(25, 25, 25);
// $color-project-page: rgb(36, 36, 36);
$color-nav-background: rgb(49, 49, 49);
$color-nav-background-mobile: rgb(70, 70, 70);
$color-main: rgb(120, 120, 0);
$color-text: rgb(240, 240, 240);
$color-text-sec: rgb(200, 200, 200);
