$u-default-border-radius: 1rem;

$size-seperate-section: 20rem;

$color-top-page: rgb(25, 25, 25);
// $color-project-page: rgb(36, 36, 36);
$color-nav-background: rgb(49, 49, 49);
$color-main: rgb(120, 120, 0);
$color-text: rgb(240, 240, 240);
