@import "../abstract/variables";
@import "../abstract/mixins";

.about {
  background-color: $color-nav-background;
  border-radius: $u-default-border-radius;
  overflow: hidden;
  display: flex;
  max-height: 50rem;

  @include responsive("MAX", 550px) {
    max-height: initial;
  }

  &__img {
    border-radius: $u-default-border-radius;
    width: 35%;
    max-height: 50rem;

    @include responsive("MAX", 860px) {
      display: none;
    }
  }

  &__me {
    // width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-top-page;
    border-radius: $u-default-border-radius;
    margin: 1.5rem 0 1.5rem 1.5rem;

    @include responsive("MAX", 600px) {
      margin: 0;
    }

    &-container {
      background-color: $color-top-page;
      border-top-left-radius: $u-default-border-radius;
      border-top-right-radius: $u-default-border-radius;
      // will subtract it back with marging in the next section, i don't wmat the top page to show in the background
      padding-bottom: calc($size-seperate-section + 1rem);

      @include responsive("MAX", 600px) {
        padding-bottom: calc($size-seperate-section-mobile + 1rem);
      }

      @include responsive("MAX", 400px) {
        padding-bottom: calc($size-seperate-section-mobile-2 + 1rem);
      }
    }
  }
}

.about-info {
  @include responsive("MAX", 860px) {
    background: transparent;
  }

  &__about-txt {
    padding: 3rem;
    line-height: 2.2rem;

    @include responsive("MAX", 1015px) {
      line-height: 2rem;
    }
  }
}
