@import "../abstract/variables";
@import "../abstract/mixins";

.about {
  background-color: $color-nav-background;
  border-radius: $u-default-border-radius;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 50rem;

  @include responsive("MAX", 550px) {
    max-height: initial;
  }

  &__img {
    border-radius: $u-default-border-radius;
    width: 35%;
    max-height: 50rem;

    @include responsive("MAX", 860px) {
      display: none;
    }

    &-mobile {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      margin-right: 2rem;
      display: none;

      @include responsive("MAX", 860px) {
        display: initial;
      }
    }
  }

  &__title {
    left: auto;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    margin-bottom: 0;
  }

  &__me {
    // width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $color-top-page;
    border-radius: $u-default-border-radius;
    margin: 1.5rem 0 1.5rem 1.5rem;

    @include responsive("MAX", 600px) {
      margin: 0;
    }

    &-header-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 4rem;
    }

    @include responsive("MAX", 600px) {
      margin-bottom: 2.5rem;
    }

    &-container {
      background-color: $color-top-page;
      border-top-left-radius: $u-default-border-radius;
      border-top-right-radius: $u-default-border-radius;
      // will subtract it back with marging in the next section, i don't wmat the top page to show in the background
      padding-bottom: calc($size-seperate-section + 1rem);

      @include responsive("MAX", 600px) {
        padding-bottom: calc($size-seperate-section-mobile + 1rem);
      }

      @include responsive("MAX", 400px) {
        padding-bottom: calc($size-seperate-section-mobile-2 + 1rem);
      }
    }
  }
}

.about-info {
  @include responsive("MAX", 860px) {
    background: transparent;
  }

  &__about-txt {
    padding: 3rem;
    line-height: 2.2rem;

    @include responsive("MAX", 1015px) {
      line-height: 2rem;
    }
  }
}
