@import "../abstract/variables";

.btn {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: $u-default-border-radius;
  transition: all 0.2s;

  &-container {
    margin-top: 3rem;
  }

  &__main {
    padding-left: 3rem;
    border: 2px solid $color-main;
    background-color: $color-main;
    margin-right: 3rem;

    &:hover {
      box-shadow: 0 5px 10px black;
    }

    &:active {
      box-shadow: 0 2px 10px black;
    }
  }

  &__sec {
    background: none;
    border: 2px solid $color-text;

    &:hover {
      border: 2px solid $color-main;
      color: $color-main;
    }

    &:active {
      color: $color-text;
      border: 2px solid $color-main;
    }
  }
}
