@import "../abstract/variables";

.top-page__nav {
  position: fixed;
  height: 100vh;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90vh;
  z-index: 10;
  display: flex;

  @include responsive("MAX", 600px) {
    inset: auto 50% 1rem auto;
    transform: translateX(50%);
    margin-top: 0;
    height: auto;
    width: 70%;
  }
}

.navi {
  &__profile {
    &-ctn {
      text-align: center;
      margin-top: 1rem;
    }

    &-image {
      width: 6rem;
      height: 6rem;
      border-radius: $u-default-border-radius;
    }
  }

  &__icons {
    border-radius: $u-default-border-radius;
    background-color: $color-nav-background;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;

    @include responsive("MAX", 600px) {
      flex-direction: row;
      padding: 1rem 2rem;
      width: 100%;
      background-color: $color-nav-background-mobile;
    }
  }
}
