@import "../abstract/variables";

.top-page__nav {
  position: fixed;
  height: 100vh;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90vh;
  z-index: 10;
}

.navi {
  &__profile {
    &-ctn {
      text-align: center;
      margin-top: 1rem;
    }

    &-image {
      width: 6rem;
      height: 6rem;
      border-radius: $u-default-border-radius;
    }
  }

  &__icons {
    border-radius: $u-default-border-radius;
    background-color: $color-nav-background;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
  }
}
