@import "../abstract/variables";

.top-page {
  &__section {
    &-1 {
      height: 90vh;
      position: fixed;
      // inset: 0; // not working for edge
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &-2 {
      margin-top: 90vh;
    }
  }
}

.hero {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
