*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  color: #f0f0f0;
}
@media only screen and (max-width: 1110px) {
  *,
*::before,
*::after {
    font-size: 60%;
  }
}
@media only screen and (max-width: 940px) {
  *,
*::before,
*::after {
    font-size: 55%;
  }
}
@media only screen and (max-width: 470px) {
  *,
*::before,
*::after {
    font-size: 53%;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #191919;
}

body {
  max-width: 1350px;
}

section {
  margin: 0 8.5rem 0 4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
@media only screen and (max-width: 600px) {
  section {
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 455px) {
  section {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 420px) {
  section {
    margin: 0 1rem;
  }
}

.section__title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}
@media only screen and (max-width: 600px) {
  .section__title {
    margin-bottom: 2.5rem;
  }
}
.section__title:hover {
  color: #787800;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
}
@media only screen and (max-width: 770px) {
  h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 635px) {
  h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 525px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 525px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 6rem;
  font-weight: 700;
}
@media only screen and (max-width: 770px) {
  h2 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 675px) {
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 525px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 525px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  text-align: justify;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 1.8rem;
  }
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.top-page__section-1 {
  height: 90vh;
  position: fixed;
  inset: 0;
  z-index: -1;
}
.top-page__section-2 {
  margin-top: 90vh;
}

.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-project {
  background-color: #313131;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: -1rem;
}

.project-items {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 770px) {
  .project-items {
    flex-direction: column;
    align-items: center;
  }
}
.project-items-1 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 770px) {
  .project-items-1 {
    margin-bottom: 0;
  }
}

.conclusion-section {
  text-align: center;
  background-color: #191919;
  padding-top: 20rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  .conclusion-section {
    padding-bottom: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .conclusion-section {
    padding-bottom: 8rem;
  }
}
.conclusion-section__txt, .conclusion-section__btn {
  margin-top: 4rem;
}
.conclusion-section__btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.conclusion-section__txt {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 770px) {
  .conclusion-section__txt {
    width: 80%;
  }
}
.conclusion-section__txt a {
  font-size: inherit;
  text-decoration: underline;
}
.conclusion-section__copy {
  margin-top: 15rem;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .conclusion-section__copy {
    margin-top: 10rem;
  }
}

.top-page__nav {
  position: fixed;
  height: 100vh;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90vh;
  z-index: 10;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .top-page__nav {
    inset: auto 50% 1rem auto;
    transform: translateX(50%);
    margin-top: 0;
    height: auto;
    width: 70%;
  }
}

.navi__profile-ctn {
  text-align: center;
  margin-top: 1rem;
}
.navi__profile-image {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}
.navi__icons {
  border-radius: 1rem;
  background-color: #313131;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
@media only screen and (max-width: 600px) {
  .navi__icons {
    flex-direction: row;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #464646;
  }
}

.btn {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 600px) {
  .btn {
    font-size: 1.8rem;
    padding: 1.5rem 2.6rem;
  }
}
@media only screen and (max-width: 480px) {
  .btn {
    padding: 1.3rem 2.4rem;
  }
}
@media only screen and (max-width: 400px) {
  .btn {
    display: block;
  }
}
.btn-container {
  margin-top: 3rem;
}
.btn__main {
  padding-left: 3rem;
  border: 2px solid #787800;
  background-color: #787800;
  margin-right: 3rem;
}
@media only screen and (max-width: 600px) {
  .btn__main {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .btn__main {
    margin-right: 1.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .btn__main {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
.btn__main:hover {
  box-shadow: 0 5px 10px black;
}
.btn__main:active {
  box-shadow: 0 2px 10px black;
}
.btn__sec {
  background: none;
  border: 2px solid #f0f0f0;
}
.btn__sec:hover {
  border: 2px solid #787800;
  color: #787800;
}
.btn__sec:active {
  color: #f0f0f0;
  border: 2px solid #787800;
}

.about {
  background-color: #313131;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  max-height: 50rem;
}
@media only screen and (max-width: 550px) {
  .about {
    max-height: initial;
  }
}
.about__img {
  border-radius: 1rem;
  width: 35%;
  max-height: 50rem;
}
@media only screen and (max-width: 860px) {
  .about__img {
    display: none;
  }
}
.about__me {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  border-radius: 1rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
@media only screen and (max-width: 600px) {
  .about__me {
    margin: 0;
  }
}
.about__me-container {
  background-color: #191919;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 21rem;
}
@media only screen and (max-width: 600px) {
  .about__me-container {
    padding-bottom: 13rem;
  }
}
@media only screen and (max-width: 400px) {
  .about__me-container {
    padding-bottom: 9rem;
  }
}

@media only screen and (max-width: 860px) {
  .about-info {
    background: transparent;
  }
}
.about-info__about-txt {
  padding: 3rem;
  line-height: 2.2rem;
}
@media only screen and (max-width: 1015px) {
  .about-info__about-txt {
    line-height: 2rem;
  }
}

.icon {
  background-color: #f0f0f0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: color 0.2s;
}
.icon:hover {
  background-color: #787800;
}
.icon:active {
  background-color: #f0f0f0;
}
.icon-github {
  mask: url(../src/svg/github.svg) no-repeat;
  -webkit-mask: url(../src/svg/github.svg) no-repeat;
}
.icon-codepen {
  mask: url(../src/svg/codepen.svg) no-repeat;
  -webkit-mask: url(../src/svg/codepen.svg) no-repeat;
}
.icon-codesandbox {
  mask: url(../src/svg/codesandbox.svg) no-repeat;
  -webkit-mask: url(../src/svg/codesandbox.svg) no-repeat;
}
.icon-facebook {
  mask: url(../src/svg/facebook.svg) no-repeat;
  -webkit-mask: url(../src/svg/facebook.svg) no-repeat;
}
.icon-instagram {
  mask: url(../src/svg/instagram.svg) no-repeat;
  -webkit-mask: url(../src/svg/instagram.svg) no-repeat;
}
.icon-twitter {
  mask: url(../src/svg/twitter.svg) no-repeat;
  -webkit-mask: url(../src/svg/twitter.svg) no-repeat;
}
.icon-external-link {
  mask: url(../src/svg/external_link.svg) no-repeat;
  -webkit-mask: url(../src/svg/external_link.svg) no-repeat;
}

.project-item {
  background-color: #191919;
  border-radius: 1rem;
  width: 30%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (max-width: 975px) {
  .project-item {
    width: 32%;
    height: 40rem;
  }
}
@media only screen and (max-width: 770px) {
  .project-item {
    width: 70%;
    margin-top: 1.5rem;
  }
}
.project-item:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 5px black;
}
.project-item:active {
  transform: translateY(-0.8rem);
  box-shadow: 0 3px 3px black;
}
.project-item__icons {
  display: flex;
  justify-content: flex-end;
}
.project-item__icon-2 {
  margin-left: 2rem;
}
.project-item__stack {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.project-item__stack p {
  font-size: 1.3rem;
}

.item-info__title {
  font-weight: 700;
  font-size: 2rem;
}
.item-info__info {
  margin-top: 1rem;
  line-height: 2.2rem;
}
@media only screen and (max-width: 1015px) {
  .item-info__info {
    line-height: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
