*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  color: #f0f0f0;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  background-color: #191919;
}

section {
  margin: 0 8.5rem 0 4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.section__title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}
.section__title:hover {
  color: #787800;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
}

h2 {
  font-size: 6rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  text-align: justify;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.top-page__section-1 {
  height: 90vh;
  position: fixed;
  inset: 0;
  z-index: -1;
}
.top-page__section-2 {
  margin-top: 90vh;
}

.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-project {
  background-color: #313131;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: -1rem;
}

.project-items {
  display: flex;
  justify-content: space-evenly;
}
.project-items-1 {
  margin-bottom: 2rem;
}

.conclusion-section {
  text-align: center;
  background-color: #191919;
  padding-top: 20rem;
  padding-bottom: 3rem;
}
.conclusion-section__txt, .conclusion-section__btn {
  margin-top: 4rem;
}
.conclusion-section__txt {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.conclusion-section__txt a {
  font-size: inherit;
  text-decoration: underline;
}
.conclusion-section__copy {
  margin-top: 15rem;
  text-align: center;
}

.top-page__nav {
  position: fixed;
  height: 100vh;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90vh;
  z-index: 10;
}

.navi__profile-ctn {
  text-align: center;
  margin-top: 1rem;
}
.navi__profile-image {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}
.navi__icons {
  border-radius: 1rem;
  background-color: #313131;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.btn {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  transition: all 0.2s;
}
.btn-container {
  margin-top: 3rem;
}
.btn__main {
  padding-left: 3rem;
  border: 2px solid #787800;
  background-color: #787800;
  margin-right: 3rem;
}
.btn__main:hover {
  box-shadow: 0 5px 10px black;
}
.btn__main:active {
  box-shadow: 0 2px 10px black;
}
.btn__sec {
  background: none;
  border: 2px solid #f0f0f0;
}
.btn__sec:hover {
  border: 2px solid #787800;
  color: #787800;
}
.btn__sec:active {
  color: #f0f0f0;
  border: 2px solid #787800;
}

.about {
  background-color: #313131;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  max-height: 50rem;
}
.about__img {
  border-radius: 1rem;
  max-height: 50rem;
}
.about__me {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  border-radius: 1rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
.about__me-container {
  background-color: #191919;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 21rem;
}

.about-info__about-txt {
  padding: 3rem;
  line-height: 2.5rem;
}

.icon {
  background-color: #f0f0f0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: color 0.2s;
}
.icon:hover {
  background-color: #787800;
}
.icon:active {
  background-color: #f0f0f0;
}
.icon-github {
  mask: url(../src/svg/github.svg) no-repeat;
  -webkit-mask: url(../src/svg/github.svg) no-repeat;
}
.icon-codepen {
  mask: url(../src/svg/codepen.svg) no-repeat;
  -webkit-mask: url(../src/svg/codepen.svg) no-repeat;
}
.icon-codesandbox {
  mask: url(../src/svg/codesandbox.svg) no-repeat;
  -webkit-mask: url(../src/svg/codesandbox.svg) no-repeat;
}
.icon-facebook {
  mask: url(../src/svg/facebook.svg) no-repeat;
  -webkit-mask: url(../src/svg/facebook.svg) no-repeat;
}
.icon-instagram {
  mask: url(../src/svg/instagram.svg) no-repeat;
  -webkit-mask: url(../src/svg/instagram.svg) no-repeat;
}
.icon-twitter {
  mask: url(../src/svg/twitter.svg) no-repeat;
  -webkit-mask: url(../src/svg/twitter.svg) no-repeat;
}
.icon-external-link {
  mask: url(../src/svg/external_link.svg) no-repeat;
  -webkit-mask: url(../src/svg/external_link.svg) no-repeat;
}

.project-item {
  background-color: #191919;
  border-radius: 1rem;
  width: 30%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.project-item:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 5px black;
}
.project-item:active {
  transform: translateY(-0.8rem);
  box-shadow: 0 3px 3px black;
}
.project-item__icons {
  display: flex;
  justify-content: flex-end;
}
.project-item__icon-2 {
  margin-left: 2rem;
}
.project-item__stack {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.project-item__stack p {
  font-size: 1.3rem;
}

.item-info__title {
  font-weight: 700;
  font-size: 2rem;
}
.item-info__info {
  margin-top: 1rem;
  line-height: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
